@model ClientAPI.Models.Employees

@{
    ViewData["Title"] = "Szczegółowe dane pracownika";
}

<h1>Szczegółowe dane pracownika</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
           Wiek
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            Stanowisko
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionNavigation.PositionName)
        </dd>
        <dt class = "col-sm-2">
            Dział
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentNavigation.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            Wypłata
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            Miasto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Adres
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy pracowników</a>
</div>
