@model IEnumerable<ClientAPI.Models.EmployeeGrade>

@{
    ViewData["Title"] = "Oceny pracowników";
}

<h1>Oceny pracowników</h1>

<p>
    <a asp-action="Create">Dodaj nową ocenę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id pracownika
            </th>
            <th>
                Ocena
            </th>
            <th>
                Data dodania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idemployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj ocenę</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły oceny</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń ocenę</a>
            </td>
        </tr>
}
    </tbody>
</table>
