@model IEnumerable<ClientAPI.Models.EmployeeGrade>

@{
    ViewData["Title"] = "Oceny pracowników";
}

<h1>Oceny pracowników</h1>

<p>
    <a asp-action="Create">Dodaj nową ocenę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię pracownika
            </th>
            <th>
                Ocena
            </th>
            <th>
                Data dodania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdemployeeNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
